table {
    width: 50%;
    border-collapse: collapse;
}
table, th, td {
    border: 2px solid black;
    text-align: center;
}
th, td {
    text-align: center;
    padding: 10px;
    text-align: left;
}
/* .table1{
    background-color: gray;
    text-align: center;
} */